OAUTH2_TOKEN_URI=http://localhost:8081/realms/zendro/protocol/openid-connect/token
REMOTE_URL=http://localhost:3000/graphql
CLIENT_ID=zendro_graphql-server
USER_NAME=zendro-admin
PASSWORD=admin
BATCH_SIZE=
RECORD_DELIMITER=
FIELD_DELIMITER=
ARRAY_DELIMITER=